# ansible.cfg
[defaults]
inventory       = inventory/aws_ec2.yml
collections_path = ./collections
roles_path      = ./roles

#[ssh_connection]
#ssh_args = -o ProxyJump=ec2-user@<bastion_public_ip>
[privilege-escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=false
